{%extends 'layout.html'%} 
{% load bootstrap4 %}

{% block content %}

<div class="">

  <div class="">
    {% if images %}
    <div class="jumbotron jumbotron-fluid bg-dark">
        <div class="">
          <h2 class="display-6 text-center font-weight-bold text-white">Found {{ images|length }} images for searched term {{message}}</h2>
        </div>
      </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid bg-dark">
        <div class="">
          <h2 class="display-5 text-center font-weight-bold text-white">Found 0 images for the searched term {{message}}</h2>
        </div>
      </div>
    {% endif %}

  </div>

  <div class="container">
    
      <div class="row">
        <!-- Empty div -->
        <div class="col-lg-2"></div>
    
        <div class="col-lg-6">
          
    
            {% for image_item in images %}
                    <!-- Card -->
              <div class="card mt-2 pb-2 mb-2">
                <!-- Card header -->
                <div class="card-footer text-dark font-weight-bold">
                    {{image_item.Author}}
                  </div>
    
                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top" src="{{image_item.image_file.url}}" alt="{{ image_item.image_name }}">
                  <a href="/image/{{image_item.id}}">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
    
                <!-- Card content -->
                <div class="card-body">
    
                  <!-- Title -->
                  <p class="card-title font-weight-bold">{{ image_item.Author }} <span class="card-text ml-2"> {{ image_item.description }} </span></p> 
                  <!-- Text -->
                  <!-- <p class="card-text">{{ image_item.description }}</p> -->
                  <!-- Button -->
                  {% for comment_item in comments %}
                  
                    {% if image_item.pk == comment_item.image.pk%}
                  <p> {{comment_item.author}} <span class=""> {{comment_item.comment}} </span> </p>
                  {% endif %}
    
                  {% endfor %}
    
                  <div><small class="text-black-50">{{image_item.pub_date|timesince}} ago</small></div>
                </div>
    
                <!-- Card footer -->
                  
    
              </div>
              <!-- Card -->
              {% endfor %}
    
              </div>
    
        <!-- empty div -->
        <div class="col-lg-3"></div>
        <div class="col-lg-1"></div>
    
      </div>
     </div>

            <!-- Modal starts here -->
            {% for image_item in images %}
            <div class="modal fade" id="img{{image_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">{{ image_item.image_name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                            
                      <div class="">
                        <figure class="">
                          <img class="img-fluid" src="{{image_item.image_file.url}}"></a>
                            <figcaption>
                                <!-- Image title -->
                                <h3><a class="font-weight-bold mb-3 black-text" href="/image/{{image_item.id}}">{{ image_item.image_name }}</a></h3>
                                <!-- Excerpt -->
                                <p class="dark-grey-text">{{ image_item.description }}</p>
                                <!-- Image data -->
                                <p>Posted: {{image_item.pub_date|timesince}} ago, <br>
                                </p>
                                <!-- The text field -->
                                    Copy Image Link: <input class="form-control form-control-sm" type="text" value="https://jogallery.herokuapp.com/image/{{image_item.id}}"  readonly="readonly">
        
                                    <!-- The button used to copy the text -->
        
                          </figcaption>
                        </figure>
                      </div>
                      
                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
                    
                     
</div>



{% endblock %}